.editor-container {
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    font-family: poppins-regular;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 16px;
  }

  button {
    padding: 10px 20px;
    border-radius: 25px;
    font-family: poppins-regular;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #ebeef3e4;
    border: none;
    margin: 5px 0;
  }
}
.meme-section {
  padding: 30px;
  margin-bottom: 16px;
  display: flex;
  place-content: center;
  justify-content: space-evenly;
  place-items: center;
  gap: 10px;
}
.canvas-container {
  flex-basis: 30%;
  display: flex;
}

#memeCanvas {
  border: 6px solid #ebeef317;
  place-self: center;
  border-radius: 25px;
  margin-bottom: 8px;
}
